# Configuração do Supabase (Base de Dados e Auth)
VITE_SUPABASE_URL=https://gspvnnfhmedzgzwjnfub.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzcHZubmZobWVkemd6d2puZnViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MzAwMTgsImV4cCI6MjA4MTUwNjAxOH0.k8yCytX5hVMC5CZmfeWI1QsJSFidBQRgvas2V7vLTP0

# Configuração do Google Gemini (IA)
VITE_API_KEY=AIzaSyD3470_N4l3seRpJuu3SJFfuF1Z_FQ7dNI